@import '../../app/vars.scss';
.container {
   min-width: 360px;
   padding: 0px 10px;
   min-height: auto;
}
.containerList {
   margin: 10px;
}
.containerMainInf {
   display: flex;
   justify-content: space-between;
   padding: 0px 10px;
}
.priceText,
.carrierText {
   color: #2698f3;
   padding: 20px 30px;
   font-size: larger;
}
.carrierText {
   color: black;
}
.containerSegments {
   padding: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.secondaryText {
   color: #adbbc3;
   font-size: 12px;
   text-transform: uppercase;
}
.containerStops {
   display: flex;
   justify-content: center;
}
.pStops {
   padding: 2px;
   align-items: center;
}
.containerSegmentsItem {
   display: flex;
   justify-content: space-between;
}
@media screen and (min-width: $screen-tablet) {
   .container {
      min-width: 260px;
      min-height: auto;
   }
}
